.container {
    display: grid;
    grid: "sidebar header" 300px
          "sidebar body" 1100px
          / 1fr 4fr;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(201, 150, 249);
    color: white;
}

.header {
    grid-area: header;
    background-color: white;
}

.body {
    grid-area: body;
    background-color: rgb(216, 216, 216);
}

* {
    margin: 0px;
}

.dashboard {
    display: flex;
    font-size: 30px;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 30px;
}

.dashboard img {
    height: 100px;
    width: auto;
}

.child {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img {
    width: 55px;
    height: auto;
}

.navbar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 4fr 1fr 1fr;
    height: 700px;
    align-items: start;
    justify-items: start;
    padding: 40px;
    gap: 20px;
}

.alertbar img:nth-child(2) {
    width: 70px;
    height: auto;
    border-radius: 50%;
}

.alertbar img:nth-child(1) {
    width: 35px;
    height: auto;
}

.alertbar {
    font-size: 22px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.searchtop {
    display: flex;
    justify-content: space-between;
    margin: 45px;
}

.searchbar {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.searchbar img {
    width: 35px;
    height: auto;
}

input {
    font-size: 32px;
    width: clamp(200px, 800px, 1200px);
    border-radius: 16px;
    background-color: rgb(185, 179, 179);
    border: none
}

.greetingbar {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.buttonlist {
    display: flex;
    gap: 45px;
    color: white;
}

button {
    border: none;
    background-color: rgb(169, 169, 231);
    border-radius: 28px;
    font-size: 32px;
    height: 80px;
    width: 180px;
}

.greeting img {
    border-radius: 50%;
    width: 100px;
    height: auto;
}

.textlineup > p {
    font-size: 18px;
}

.textlineup p:nth-child(2) {
    font-size: 40px;
}

.greeting {
    display: flex;
    gap: 30px;
}

.textlineup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body {
    padding: 30px;
    display: grid;
    grid: "first second" 1fr "project other" 15fr / 4fr 1fr;
    gap: 25px;
}

.projectarea {
    grid-area: project;
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr;
    gap: 30px;
}

.otherarea {
    grid-area: other;
    
}

.firsttitle {
    grid-area: first;
    justify-self: start;
    align-self: end;
    font-size: 32px;
}

.secondtitle {
    font-size: 32px;
    grid-area: second;
    justify-self: start;
    align-self: end;
}

.thirdtitle {
    font-size: 32px;
    justify-self: start;
    align-self: end;
}

.project {
    display: flex;
}

.yellowbox {
    width: 10px;
    height: 100%;
    background-color: rgb(220, 220, 57);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.content {
    background-color: white;
    flex: 1;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    display:grid;
    grid: "top top top top" 1fr "mid mid mid mid" 2fr ". icon icon2 icon3" 1fr / 4fr 1fr 1fr 1fr;
    gap: 7px;
    padding: 15px;
}

.icon,
.icon2,
.icon3 {
    width: 36px;
    height: auto;
}

.icon {
    grid-area: icon;
}

.icon2 {
    grid-area: icon2;
}

.icon3 {
    grid-area: icon3;
}

.top {
    grid-area: top;
    font-size: 32px;
    align-self: self-end;
    font-weight: bold;
}

.mid {
    grid-area: mid;
    font-size: 20px;
}

.announcements {
    background-color: white;
    border-radius: 16px;
}

.trending {
    background-color: white;
    border-radius: 16px;
}

.otherarea {
    display: grid;
    grid-template-rows: 3fr 0.6fr 3fr;
    gap: 30px;
}

.announcements,
.trending,
.project, {
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
            0px 2px 4px rgba(0,0,0,0.1), 
            0px 4px 8px rgba(0,0,0,0.1), 
            0px 8px 16px rgba(0,0,0,0.1);
}

.body {
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1), 
    inset 0px 2px 4px rgba(0,0,0,0.1), 
    inset 0px 4px 8px rgba(0,0,0,0.1), 
    inset 0px 8px 16px rgba(0,0,0,0.1);
}

.announcements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.line {
    height: 1px;
    background-color: rgb(124, 124, 124);
}

.ann {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.funny {
    font-size: 20px;
    font-weight: bold;
}

.desc {
    color: rgb(52, 52, 52);
}